// Bootstrap core CSS
link(href='/libs/bootstrap/css/bootstrap.min.css', rel='stylesheet')
// Custom fonts for this template
link(href='/libs/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
