// Bootstrap core JavaScript
script(src='/libs/jquery/jquery.min.js')
script(src='/libs/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/libs/jquery-easing/jquery.easing.min.js')
